# generic gitignore entries
*~
*bak

*zip
*tar
*tar.xz
*tar.gz
*tar.bz2
*tar.zstd

fw/
*.uf2
*.elf
*.UF2
*.ELF

# hw info files that may leak data
INDEX.HTM
INFO_UF2.TXT

# dev container
/.devcontainer/scripts/data.tmp

# Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
.ccls-cache/

# Python/MicroPython/CircuitPython
.python-version
.pdm-python
.venv
.mypy_cache
boot_out.txt
secrets.json
settings.toml
secrets.py

# Arduino
build
