# access files
CODEOWNERS                @vpayno

# CI files
/.github/                 @vpayno
/.gitlab-ci.yml           @vpayno
/.gitlab-ci.yaml          @vpayno

# sensitive documentation
LICENSE*                  @vpayno
README.md                 @vpayno
CHANGELOG.md              @vpayno

# tool configuration files
.gitignore                @vpayno
.yamlfix.yaml             @vpayno
.yamllint.yaml            @vpayno
.markdownlint.yaml        @vpayno
.wokeignore               @vpayno
.woke.yaml                @vpayno
